  
table {
    width: 100px;
    font-size:31px;
    width:100%;
    color: white;
}
table, th, td {
border: 1px solid black;
}
th {
background-color: #161618;
}
td {
text-align: center;
background-color:#090085;
}